<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1>EAT BURGER</h1>
    </div>
  </div>
  <div class="row center-align">
    <div class="col s12">
      <img class="img" src="/assets/img/burger2.jpeg" alt="BURGER">
    </div>
  </div>
  <div class="row center-align">
    <div class="col s6">
      <h3>Fresh Burgers</h3>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="">
              <button type="submit">EAT DA BURGER</button>
            </form>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    </div>
    <div class="col s6">
      <h2>Eaten Burgers</h2>
      <ul>
          {{#each burgers}}
            {{#if this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="/{{this.id}}?_method=DELETE" method="POST">
                <input type="hidden" name="remove" value="">
                <button type="submit">DIGEST DA BURGER</button>
              </form>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row center-align">
    <div class="col s6 offset-s3">
      <h3>Create Your Own Burger</h3>
        <form class="create-update-form" action="/" method="POST">

          <div class="form-group">
            <input type="text" id="burger_name" name="name">
          </div>

          <button class="btn" type="submit">Create Burger</button>
        </form>
    </div>
  </div>
</div>
